<section class="pt-10">
<div class="flex flex-col gap-y-7 items-center justify-center">
    <div class="items-center justify-center">
        <h2 class="text-xl">Lista Clientes</h2>
    </div>
    <div>
        <table class="table-row">
            <thead>
                <tr class="">
                    <th class="pr-4">ID</th>
                    <th class="pr-4">Nombre</th>
                    <th class="pr-4">Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                    @for (item of customers; track $index) {
                        <tr class="">
                            <td>{{ item.id }}</td>
                            <td>{{ item.firstname }}</td>
                            <td>{{ item.lastname }}</td>
                            <td>{{ item.email }}</td>
                            <td><button class="btn pl-4 bg-red-500 rounded-md text-center" (click)="deleteCustomer(item.id)">Delete</button></td>
                        </tr>    
                        }
                        
            </tbody>
        </table>
</div>
</div>
</section>